/* arrangiamenti per lo stile del riquadro contenente il prodotto */
.thumbnail {
    background-color: white;
    border-style: solid;
    border-color: #0b3d86;

}

/* modifiche allo stile del percorso dalla home alla pagina attuale */
.path {
    align-self: center;
    max-width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/* modifiche allo stile del titolo di ogni categoria*/
.prod-title {
    color: #0b3d86;
    font-size: 32px;
    padding-bottom: 20px;
}

/* modifiche stile lista generale */
ul#lista li {
    font-size: 132%;
}

/* modifiche stile lista promo */
ul#lista_promo li {
    font-size: 132%;
     list-style-image: url('/images/offerte/promoverde.png');
}

/* no spazio tra ul list*/
ul + ul {
    margin-top: -9px;
}

/*spazio tra nome e descrizione*/
h2 + h4 {
    margin-top: 4%;
}

/*modifica stile del titolo*/
#nome_ass {
    color: #0b3d86;
    font-weight: bold;
    padding-top: 0px;
}

/** STILI PROSSIMO E PRECEDENTE **/
.dx {
    font-size: 16px;
    text-align: right;
    color: #0b3d86;
}
.sx {
    font-size: 16px;
    text-align: left;
    color: #0b3d86;
}
.dx > a, .sx > a {
    font-size: 20px;
    color: #0b3d86;
}
.cgt {
    padding-top: 20px;
}

.text {
    padding-left: 3%;
}
