/* modifiche allo stile del titolo di ogni categoria*/
.ass-title a {
    color: #0b3d86;
    padding-left: 20px;
    font-size: 32px;
}

/* su schermi piccoli riduco la dimensione del titolo della categoria */
@media (max-width:767px){
    .ass-title a {
        color: #0b3d86;
        padding-left: 10px;
        font-size: 24px;
    }
}

/* arrangiamenti per lo stile del riquadro contenente l'assistenza */
.thumbnail {
    background-color: white;
    border-style: solid;
    border-color: #0b3d86;

}

/*MODIFICHE LISTA*/
/* modifiche stile lista generale */
ul#lista li {
    font-size: 132%;
}

/* modifiche stile lista promo */
ul#lista_promo li {
    font-size: 132%;
    list-style-image: url('/images/offerte/promoverde.png');
}

/* mofiche colore link */
a{
    color: #0b3d86;;
}

/* no spazio tra ul list*/
ul + ul {
    margin-top: -9px;
}

/*spazio tra titolo e sottotitolo*/
h2 + h2 {
    margin-top: 4%;
}

/*modifica stile del nome dell'assistenza*/
#nome_ass {
    color: #0b3d86;
    font-weight: bold;
    padding-top: 0px;
}


/** STILI PROSSIMO E PRECEDENTE **/
.dx {
    font-size: 16px;
    text-align: right;
    color: #0b3d86;
}
.sx {
    font-size: 16px;
    text-align: left;
    color: #0b3d86;
}
.dx > a, .sx > a {
    font-size: 20px;
    color: #0b3d86;
}
.cgt {
    padding-top: 20px;
}

#descrizione{
    list-style-type:none;
    font-size: 125%;
}

#faq{
    list-style-type:none;
    font-size: 125%;
}

/*formato dei titoli*/
h2 {
    color: #0b3d86;
    font-size: 24px;
}
@media(max-width:767px) {
    h2 {
        font-size: 18px;
    }
}
h3 {
    color: #0b3d86;
    font-size: 18px;
}
@media(max-width:767px) {
    h3 {
        font-size: 16px;
    }
}

textarea{
 /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on all browsers */
    resize: vertical;

    padding-right: 40px;
}

/* sovrascrivo il container marketing per inserire l'immagine per la promo */
.container.marketing {
    align-self: center;
    max-width: 100%;
    background-color: white;
    padding: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 8px;
    position: relative;
}

/* fissa l'immagine al lato destro della descrizione*/
.over-img {
    width: 10%;
    height: auto;
    position: absolute;
    top: 0%;
    left: 90%;
}

/* scala immagine per schermi piccoli */
@media(max-width:767px) {
    .over-img{
    left: 75%;
    	width: 25%;}
}
