/* SECOND NAVBAR NAVIGATION */
nav.third-navbar.navbar-inverse {
    z-index: 1;
    width: 100%;
    height: 48px;
    position: fixed;
    top: 50px;
    left: 0px;
    background: #fff;
}
@media (max-width:767px){
    nav.third-navbar.navbar-inverse {
        top: 47px;
    }
}
nav.third-navbar.navbar-inverse ul {
    padding: 0px;
    padding-top: 13px;
    margin: 0 auto;
    list-style: none;
    text-align: left;
}
nav.third-navbar.navbar-inverse {

}

@media only screen and (max-width: 766px) {
    .third-navbar > .collapsing, .third-navbar > .in {background-color: #fff;}
    .third-navbar > .collapsing ul li a, .third-navbar > .in ul li a {color: #0b3d86!important;}
    .third-navbar > .collapsing ul li a:hover, .third-navbar > .in ul li a:hover {color: #135EBD!important;}
}

nav.third-navbar.navbar-inverse ul li {
    margin: 0 10px;
}
nav.third-navbar.navbar-inverse ul li a {
    padding: 3px 0;
    color: #0b3d86;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}
nav.third-navbar.navbar-inverse ul li a:hover {
    color: #135EBD;
    background-color: #fff;
    cursor: pointer;
}
a.active {
    color: #135EBD;
    border-bottom: 9px solid #135EBD;
}
nav.third-navbar.navbar-inverse >  .navbar-nav .nav  .navbar-left {
    font-size: 1.2em;
}
nav.third-navbar.navbar-inverse > .navbar-header > .navbar-brand {
    color: #0b3d86;
    font-weight: 600;
}
@media(max-width: 767px) {
    nav.third-navbar.navbar-inverse > .navbar-header > .navbar-brand {
        color: #0b3d86;
        font-size: 14px;
    }
}
.third-navbar.navbar-inverse .icon-bar {
    background-color: #0b3d86;
}


.banner {
    position: relative;
    padding-top: 30px;
    width: 100%;
    margin-bottom: 40px;
}
.banner > span {
    font-size: 40px;
    color: #fff;
    float: left;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
}
@media (max-width: 767px) {
    .banner > span {
        font-size: 14px;
    }
}

.spot, .quote {
    background-color: #fff;
}
.quote {
    color: #0b3d86;
    font-size: 24px;
    text-align: left;
    padding-top: 1px;
    padding-left: 15px;
    height: 100%;
}
.spot {
    padding: 20px;
}
.testimonial > img {
    width: 100%;
}
.pad {
    padding: 5px;
}
.container.test {
    margin-bottom: 40px;
}




h2 {
    font-family: cursive;
    font-size: 60px;
    width: 20%;
    margin-bottom: -35px;
}
h4 {
    font-size: 26px;
    padding-left: 25px;
    padding-right: 25px;
}
h5 {
    padding-left: 25px;
    padding-right: 25px;
    text-align: right;
}
@media (min-width: 767px){
    .row {
        display: flex;
    }
}
@media (min-width: 992px) {
    h2 {
        font-size: 100px;
    }
    h4 {
        font-size: 38px;
        padding-left: 35px;
        padding-right: 35px;
    }
    h5 {
        font-size: 18px;
    }
}
@media (max-width: 452px) {
    h2 {
        font-size: 20px;
        padding-left: 10px;
        margin-bottom: -20px;
    }
    h4 {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 15px;
    }
    h5 {
        font-size: 10px;
    }
    .quote {
        padding-left: 5px;
    }
}
