/* cambio colore al link all'interno dei thumbnail - riquadri prodotti */
.thumbnail a {
    color: #0b3d86;
}

/* cambio colore al prezzo */
.thumbnail h5 {
    color: #EA1F05;
    font-size: 18px;
}

/* centra la didascalia */
.thumbnail .caption {
    text-align: center;
}

/* arrangiamenti per lo stile del riquadro contenente il prodotto */
.thumbnail {
    background-color: white;
    border-style: solid;
    border-color: #0b3d86;

}

/* modifiche allo stile del percorso dalla home alla pagina attuale */
.path {
    align-self: center;
    max-width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* modifiche allo stile del titolo di ogni categoria*/
.prod-title a {
    color: #0b3d86;
    padding-left: 20px;
    font-size: 32px;
}

/* su schermi piccoli riduco la dimensione del titolo della categoria */
@media (max-width:767px){
    .prod-title a {
        color: #0b3d86;
        padding-left: 10px;
        font-size: 24px;
    }
}

/* spazio tra il titolo e i prodotti */
.prod-title {
    padding-bottom: 20px;
}

/*** STILI BOTTONI ***/
/* bottone "Dettagli" bianco */
a.buttonDB {
    font-size: 14px;
    font-weight: 600;
    color: #0b3d86;
    display: inline-block;
    float: center;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    width: 130px; height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    -moz-box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
    line-height:28px;
}

/* passaggio del cursore sul bottone elimina l'ombra*/
a.buttonDB:hover, a.buttonSB:hover {
    top: 3px;
    background-color: rgba( 193, 193, 193, 0.90 );
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h2 {
    color: #0b3d86;
    font-size: 24px;
}
@media(max-width:767px) {
    h2 {
        font-size: 18px;
    }
}

/*** MODIFICHE PER LA PAGINA DEI SINGOLI PRODOTTI ***/
/* modifico lo stile dei tab nello slider delle immagini prodotti */
.nav-tabs > li > a > img {
    width: 100%;
}
.tab-pane > img {
    max-width: 100%;
}
.tab-pane {
    align-content: center;
}
.nav-tabs {
    border-top: 0px;
    border-bottom: 0px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px 0px 0 0;
}
.nav-tabs > li > a:hover {
    border: 1px solid;
    border-color: #dddddd #dddddd #dddddd;
    background-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-color: #0b3d86;
}
