/* cambio colore al link all'interno dei thumbnail - riquadri prodotti */
.thumbnail a {
    color: #0b3d86;
}

/* cambio colore al prezzo */
.thumbnail h5 {
    color: #EA1F05;
    font-size: 18px;
}

/* centra la didascalia */
.thumbnail .caption {
    text-align: center;
}

/* arrangiamenti per lo stile del riquadro contenente il prodotto */
.thumbnail {
    background-color: white;
    border-style: solid;
    border-color: #0b3d86;

}


/* modifiche allo stile del titolo di ogni categoria*/
.prod-title a {
    color: #0b3d86;
    padding-left: 20px;
    font-size: 32px;
}

/* su schermi piccoli riduco la dimensione del titolo della categoria */
@media (max-width:767px){
    .prod-title a {
        color: #0b3d86;
        padding-left: 10px;
        font-size: 24px;
    }
}

/* spazio tra il titolo e i prodotti */
.prod-title {
    padding-bottom: 20px;
}

/*** STILI BOTTONI ***/
/* bottone "Dettagli" bianco */
a.buttonDB {
    font-size: 14px;
    font-weight: 600;
    color: #0b3d86;
    display: inline-block;
    float: center;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    width: 130px; height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    -moz-box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
    line-height:28px;
}

/* passaggio del cursore sul bottone elimina l'ombra*/
a.buttonDB:hover, a.buttonSB:hover, a.acquistaR:hover {
    top: 3px;
    background-color: rgba( 193, 193, 193, 0.90 );
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
a.acquistaR:hover {
    background-color: #B21800;
}

/** STILI PROSSIMO E PRECEDENTE **/
.dx {
    text-align: right;
    color: #0b3d86;
}
.sx {
    text-align: left;
    color: #0b3d86;
}
.dx > a, .sx > a {
    font-size: 14px;
    color: #0b3d86;
}
.cgt {
    padding-top: 20px;
}


/*formato dei titoli*/
h2 {
    color: #0b3d86;
    font-size: 24px;
}
@media(max-width:767px) {
    h2 {
        font-size: 18px;
    }
}
h3 {
    color: #0b3d86;
    font-size: 18px;
}
@media(max-width:767px) {
    h3 {
        font-size: 16px;
    }
}
.red {
    color: #EA1F05;
}
hr {
    width: 80%;
    border-top: 1px dotted #0b3d86;
}
.caratt-basic {
    padding-left: 10%;
}
.centered {
    text-align: center;
    align-content: center;
    padding: 10px;
}


/*** MODIFICHE PER LA PAGINA DEI SINGOLI PRODOTTI ***/
/* modifico lo stile dei tab nello slider delle immagini prodotti */
.tab-content {
    padding-left: 15%;
    padding-right: 15%;
}
.nav-tabs > li > a > img {
    width: 100%;
}
.tab-pane > img {
    max-width: 100%;
}
.tab-pane {
    max-width: 400px;
    margin-top: 10px;
}
.nav-tabs {
    border-top: 0px;
    border-bottom: 0px;
}
.nav-tabs > li {
    padding: 0px;
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px 0px 0 0;
}
.nav-tabs > li > a:hover {
    border: 1px solid;
    border-color: #dddddd #dddddd #dddddd;
    background-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-color: #0b3d86;
}

/** STILI TABELLA SPECIFICHE **/
.tg  {
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    border-color:#999;
    border:none;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#444;
    background-color:#F7FDFA;}

.tg .tg-yw4l {
    vertical-align:top
}
.tg .tg-6k2t {
    background-color:#D2E4FC;
    vertical-align:top
}
.tg .tg-1col {
    font-weight: 800;
}




/** MODIFICHE DI STILE PER FAR SI CHE L'IMMAGINE DELLA PROMO SIA SOVRAPPONIBILE ALL'ANTEPRIMA DEL PRODOTTO **/
.thumbnail.over {
    position: relative;
}
.over-img {
    width: 100px;
    position: absolute;
    top:0%;
    left: 0%;
}
