.jumbotron {
    position: relative;
    background-image: url("../images/smart_life/banner1.png");
    background-size: cover;
    overflow: hidden;
    height: 200px;
    padding-top: 18px;
    margin-bottom: 0px;
}


.jumbotron .smart_cat_name {
    color: white;
    font-size: 2.5em;
    text-align: center;
    vertical-align: ;
    margin-bottom: 5px;

}

.smart_cat_des {
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
}

/* cambio colore al link all'interno dei thumbnail - riquadri prodotti */
.thumbnail a {
    color: #0b3d86;
}


/* arrangiamenti per lo stile del riquadro contenente il prodotto */
.thumbnail {
    background-color: white;
    border-style: solid;
    border-color: #0b3d86;

}


/* modifiche allo stile del percorso dalla home alla pagina attuale */
.path {
    align-self: center;
    max-width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
/* modifiche allo stile del titolo di ogni categoria di smart life*/
.row_smart_title {
    color: #0b3d86;
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 30px;

}


/*** STILI BOTTONI ***/
/* bottone "Scopri" bianco */
a.buttonTutti {
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: inline-block;
    float: center;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    width: 130px; height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #EA1F05;
    -webkit-box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    -moz-box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    transition: all 0.1s linear 0s;
    top: 0px;
    position: absolute;
    right: 8%;
    top: 75%;
    line-height:28px;

}

a.buttonTutti:hover {
    background-color: rgba( 193, 193, 193, 0.90 );
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}





/* posizionamento del riquadro di testo all'interno del singolo smart life  */
.smart_txt_div{
    padding: 5% 5% 5% 5%;
    position: absolute;
    top: 20%;
    right: 0%;
    width: 50%;
}

/* posizionamento del testo nei riquadri principali */
.smart_txt{
    align-self: flex-end;
    color: #0b3d86;
    text-align: center;
}

@media (max-width: 467px) {
    .smart_txt{
        font-size: 0.8em;
    }
}
@media (min-width: 468px) {
    .smart_txt {
        align-self: flex-end;
        color: #0b3d86;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.2em;
        text-align: center;
    }
}

.smart_title{
    align-self: flex-end;
    color: #0b3d86;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 467px) {
    .smart_title {
        font-size: 0.8em;

    }
}

@media (min-width: 468px) {
    .smart_title {
        font-size: 1.5em;

    }
}



/* cambio colore al prezzo */
.thumbnail h5 {
    color: #EA1F05;
    font-size: 18px;
}

/* centra la didascalia */
.thumbnail .caption {
    text-align: center;
}


/* modifiche allo stile del percorso dalla home alla pagina attuale */
.path {
    align-self: center;
    max-width: 90%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}



/*formato dei titoli*/
h2 {
    color: #0b3d86;
    font-size: 24px;
}
@media(max-width:767px) {
    h2 {
        font-size: 18px;
    }
}
h3 {
    color: #0b3d86;
    font-size: 18px;
}
@media(max-width:767px) {
    h3 {
        font-size: 16px;
    }
}
#prezzaccio {
    color: #EA1F05;
}
hr {
    width: 80%;
    border-top: 1px dotted #0b3d86;
}

.caratt-basic {
    padding-left: 20%;
}
.centered {
    text-align: center;
    align-content: center;
    padding: 10px;
}


/*** MODIFICHE PER LA PAGINA DEI SINGOLI SMART LIFE ***/
/* modifico lo stile dei tab nello slider delle immagini smart life */
.tab-content {
    padding-left: 15%;
    padding-right: 15%;
}
.nav-tabs > li > a > img {
    width: 100%;
}
.tab-pane > img {
    max-width: 100%;
}
.tab-pane {
    max-width: 400px;
    margin-top: 10px;
}
.nav-tabs {
    border-top: 0px;
    border-bottom: 0px;
}
.nav-tabs > li {
    padding: 0px;
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0px 0px 0 0;
}
.nav-tabs > li > a:hover {
    border: 1px solid;
    border-color: #dddddd #dddddd #dddddd;
    background-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-color: #0b3d86;
}

/** STILI TABELLA SPECIFICHE **/
.tg  {
    width: 100%;
    border-collapse:collapse;
    border-spacing:0;
    border-color:#999;
    border:none;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:0px;
    overflow:hidden;
    word-break:normal;
    border-color:#999;
    color:#444;
    background-color:#F7FDFA;}

.tg .tg-yw4l {
    vertical-align:top
}
.tg .tg-6k2t {
    background-color:#D2E4FC;
    vertical-align:top
}
.tg .tg-1col {
    font-weight: 800;
}

/**gestione pagina singola categoria**/


a.blueScopri {
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: inline-block;
    float: center;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    width: 130px; height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #0b3d86;
    -webkit-box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    -moz-box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    box-shadow: 0 3px rgba( 193, 193, 193, 0.744 );
    transition: all 0.1s linear 0s;
    top: 0px;
    line-height:28px;
    position: absolute;
    top: 80%;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);

}



/* posizionamento del riquadro di testo all'interno del singolo smart life  */
.smart_large_text_area{
    padding: 5% 5% 5% 5%;
    position: absolute;
    top: 40%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    width: 50%;
}

/*add margin after each large smart life*/
.col-sm-12  {

    margin-bottom: 30px;

}

/*add border to each image*/
.col-sm-12  img {
    border-style: groove;
    border-color:  #0b3d86;
    border-width: thin;
}

.smart_large_text_area h1 {
    color: #0b3d86;
    font-size: 32px;
    margin-bottom: 5px;
}

.smart_large_text_area h2 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 30px;

}

@media (max-width: 640px) {
    .smart_large_text_area h1 {
        font-size: 24px;

    }
}

@media (max-width: 640px) {
    .smart_large_text_area h2 {
        font-size: 16px;

    }

@media (min-width: 1000px) {
        .smart_large_text_area h1 {
            font-size: 80px;

        }
    }

@media (min-width: 1000px) {
        .smart_large_text_area h2 {
            font-size: 32px;

        }
