/* modifica colore navbar al passaggio del mouse */
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #135EBD;
}

/* modifica colore navbar al click del mouse */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #135EBD;
}

/* posizionamento logo in navbar*/
.navbar-brand {
    padding: 10px;
    margin-left: 15px;
    display: inline-block;
}

/* dimensione logo nella navbar */
.navbar-brand img{
    max-width: 100px;
}

/* colore dei link nel dropdown menu */
.navbar-inverse .navbar-nav > li.dropdown.open > ul.dropdown-menu a:hover {
    background-color: #135EBD;
}

/* modifiche di colore e sfondo al footer */
.panel-footer {
    padding: 10px 0px;
    background-color: #004990;
    border-top: 0px solid #004990;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.myMenuFooter > li {
    display: inline;
    color: #ffffff;
    margin: 10px;
}

@media (max-width:767px){
    .navbar-brand img{
        padding: 5px;
        width:80px;
        max-height:50px;
    }
}

body {
    padding-top: 65px;
}


h3 {
  margin: 0px;
  background-image: url(/images/home/promo_prodotti.png);
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: red;
  font-size: 140%;
  font-weight: normal;
  line-height: 260px;
  text-align: center;
  width: 340px;
  height: 500px;
}
