/* modifica colore navbar al passaggio del mouse */
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #135EBD;
    width: 100%;
}

/* modifica colore navbar al click del mouse */
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #135EBD;
}

/* posizionamento logo in navbar*/
.navbar-brand {
    padding: 10px;
    margin-left: 15px;
    display: inline-block;
}

/* dimensione logo nella navbar */
.navbar-brand img{
    max-width: 100px;
}

/* colore dei link nel dropdown menu */
.navbar-inverse .navbar-nav > li.dropdown.open > ul.dropdown-menu a:hover {
    background-color: #135EBD;
}

/* modifiche di colore e sfondo al footer */
.panel-footer {
    align-content: center;
    padding: 10px 0px;
    background-color: #004990;
    border-top: 0px solid #004990;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* posiziona gli elementi del footer in orizzontale */
.myMenuFooter > li {
    display: inline;
    color: #ffffff;
    margin: 10px;
}

/* rimpicciolisce logo sotto i 768 px */
@media (max-width:767px){
    .navbar-brand img{
        padding: 5px;
        width:80px;
        max-height:50px;
    }
}

/* spazio per la navbar */
body {
    padding-top: 65px;
}

/* riquadro bianco contenente i vari sotto-riquadri nelle pagine */
.container.marketing {
    align-self: center;
    max-width: 100%;
    background-color: white;
    padding: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 8px;
}

/* riduco il padding su schermi piccoli */
@media (max-width:767px){
    .container.marketing {
        padding: 20px;
        padding-top: 10px;
        margin-bottom: 30px;
        margin-top: 0px;
    }
}

/* per evitare lo scroll orizzontale */
.row {
    margin-right: -0px;
    margin-left: -0px;
}

/* classe per i link non raggiungibili */
a.disabled {
    cursor: no-drop;
}

/* sposta la navbar sotto i 768 px */
@media (max-width:767px){
    .navbar-nav, .navbar-inverse, .navbar-fixed-top {
        top: -10px;
    }
}



/* SECOND NAVBAR NAVIGATION */
nav.second-navbar.navbar-inverse {
    z-index: 1;
    width: 100%;
    height: 48px;
    position: fixed;
    top: 50px;
    left: 0px;
    background: #eee;
}
@media (max-width:767px){
    nav.second-navbar.navbar-inverse {
        top: 47px;
    }
}
nav.second-navbar.navbar-inverse ul {
    padding: 0px;
    padding-top: 13px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
nav.second-navbar.navbar-inverse {

}

@media only screen and (max-width: 766px) {
    .second-navbar > .collapsing, .second-navbar > .in {background-color: #eee;}
    .second-navbar > .collapsing ul li a, .second-navbar > .in ul li a {color: #0b3d86!important;}
    .second-navbar > .collapsing ul li a:hover, .second-navbar > .in ul li a:hover {color: #135EBD!important;}
}

nav.second-navbar.navbar-inverse ul li {
    margin: 0 10px;
}
nav.second-navbar.navbar-inverse ul li a {
    padding: 2px 0;
    color: #0b3d86;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}
nav.second-navbar.navbar-inverse ul li a:hover {
    color: #135EBD;
    background-color: #eee;
}
a.active {
    color: #135EBD;
    border-bottom: 10px solid #135EBD;
}
nav.second-navbar.navbar-inverse >  .navbar-nav .nav  .navbar-left {
    font-size: 1.2em;
}
nav.second-navbar.navbar-inverse > .navbar-header > .navbar-brand {
    color: #0b3d86;
    font-weight: 600;
}
@media(max-width: 767px) {
    nav.second-navbar.navbar-inverse > .navbar-header > .navbar-brand {
        color: #0b3d86;
        font-size: 14px;
    }
}


/* modifiche alla dimensione del banner nella pagine promozione */
.banner > img {
    width: 100%;
}

/* modifiche al container bianco nella pagina promozioni */
.row.marketing {
    align-self: center;
    max-width: 100%;
    background-color: white;
    padding: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* riduco il padding su schermi piccoli */
@media (max-width:767px){
    .row.marketing {
        padding: 20px;
        padding-top: 10px;
        margin-bottom: 30px;
    }
}



/* modifiche allo stile del percorso dalla home alla pagina attuale */
.path {
    align-self: center;
    max-width: 90%;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
/* modifiche allo stile del percorso dalla home alla pagina del singolo prodotto */
.pathSingle {
    padding-top: 45px;
}
@media (max-width:767px){
	.path {
    	padding-bottom: 20px;
    }
}


/* Dimensione immagini pagamento nel form*/
.group-form > img {
    width: 145px;
}
.control-label.sx {
    padding: 2px;
    padding-left: 35px;
    text-align: left;
    color: #777;
}
fieldset {
    padding-top: 10px;
}
