/* posizionamento del testo sopra le immagini del carousel */
.textOverCarousel{
    position:absolute;
    top:10%;
    left:10%;
    font-size:2.5em;
    color: #fff;
}
/* spazio tra carousel e ruquadro delle promozioni */
#myCarousel {
    margin-bottom: 40px;
}


@media (max-width: 767px) {
    .textOverCarousel{
        position:absolute;
        top:10%;
        left:10%;
        font-size:1.1em;
        color: #fff;
    }
}

textOverCarousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
}

/*** STILI BOTTONI ***/
/* bottone "Dettagli" rosso */
a.button {
    font-size: 14px;
    font-weight: 500;
    color: white;
    display: inline-block;
    float: center;
    text-align: center;
    text-decoration: none;
    width: 130px; height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #EA1F05;
    -webkit-box-shadow: 0 3px rgba(255,35,50,.75);
    -moz-box-shadow: 0 3px rgba(255,35,50,.75);
    box-shadow: 0 3px rgba(255,35,50,.75);
    transition: all 0.1s linear 0s;
    top: 0px;
    position: relative;
    line-height:28px;
}

/* passaggio del cursore sul bottone elimina l'ombra*/
a.button:hover {
    top: 3px;
    background-color: #B21800;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* gestione distanze tra i riquadri */
.main-content {
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0 auto;
    max-width: 340px;
}

/* struttura riquadri principali */
.hsquare {
    margin: 0 auto;
    max-width: 90%;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #0b3d86;
}

/* arrangiamento immagini nei riquadri principali */
.hsquare img {
    position: relative;
    float: left ;
    width: 100%;
}

/* posizionamento del testo nei riquadri principali */
.hsquare > p.htxt {
    align-self: center;
    padding: 5% 5% 5% 5%;
    position: absolute;
    top: 0px;
    width: 100%;
    color: #fff;
    font-size: 1.5em;
}


.carousel-indicators {
  bottom: 0px;
}
